*{  
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #262121;
    background-color: #fce6ce;
    font-size: 100%;
}

/*Header*/

header {
    background-color: #f79a36;
    position: relative;   
}
 
nav {
    background-color: #f79a36;
}

#logo {
    float:left;
    margin-top:5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: #262121;
    font-weight: 600;
}

#navmenu {
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    float: right;
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.navbar {
    opacity: 100%;
}

.nav-link {
    font-size: 125%;
    text-decoration: none;
    color: #262121;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: right;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link:hover {
    border: 1px solid #262121;
    border-radius: 50px;
    padding: 5px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.active-link a {
    opacity: 100%;
    font-weight: 800;
}

/*Styling hero section*/

.hero {
    position: relative;
    border: 1px solid #262121;
}

#hero {
    width: 100%;
}

img {
    max-width: 100%;
}

#cover-text {
    position: absolute;
}

.main-title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding: 3px;
}

ul {
    padding: 5px;
    list-style-type: none;
}

li {
    float: left;
}

a {
    text-decoration: none;
}

.button {
    color: #262121;
    font-family: 'Lato',sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    background-color: #e9e9e9;
    padding: 4px;
    border:1px solid #f2800a;
    border-radius: 10px;
}

.button:hover {
    background-color: #f2800a;
    transition: 0.7s;
    cursor: pointer;
    border: 1px solid #262121;
}

/*Hero service page*/

#service {
    margin-bottom: 40px;
}

#cover-text-service {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title-service { 
    font-size: 35px;
}

/*About section*/

.heading {
    margin: 25px;
    font-family: 'Roboto',sans-serif;
    font-size: 26px;
    color: #262121;
    text-align: center;
    padding: 15px;
}

hr {
    margin: auto;
    width: 35%;
    border: 2px solid #262121;
    border-radius: 50%;
}

p {
    margin: 0;
}

.text {
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    color: #262121;
    padding: 15px;
    text-align:center;
    line-height: 1.5;
}

.center {
    margin:  15px;
    text-align: justify;
}

div#icons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#icons {
    width:100%;    
}

.icontext {
    text-align: center;
    padding: 15px;
}

.text-under-icon {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1rem;
}

.heading-p {
    margin: 25px 25px 0 25px;
    padding: 15px 15px 0 15px;
}

.text-under-heading {
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #262121;
    padding: 15px;
    text-align: center;
    margin: 0 15px 25px 15px;
    line-height: 1.5;
}

.container-image {
    position: relative;
    padding: 15px 0;
}

.image-team {
    width: 75%;
    border: 3px solid #262121;
    border-radius: 10%;
    margin: auto;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.container-image-text {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.container-image:hover .image-team {
    opacity: 0.3;
}

.container-image:hover .container-image-text {
    opacity: 1;
}

.text-over-image {
    color: #262121;
    font-size: 26px;
    padding: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: center;
}

.logo-link-team {
    display: flex;
    padding: 0;
}

.logo-link-team .social-media-links {
    color: #262121;
}

.social-media-links {
    padding: 15px;
    color: #262121;
    margin: 15px;
}

/*Our services section*/

.heading-service {
    background-color: whitesmoke;
    border: 2px solid #f2800a;
    margin: 15px;
    padding: 10px;
}

.icontext {
    margin: 15px;
}

.link-icons {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    background-color: #e9e9e9;
    border: 3px solid #f2800a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    height: 95%;
}

.link-icons:hover {
    color: #262121;
    background-color: #f2800a;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #262121;
    box-shadow: none;
}

.link-color:visited {
    color: #262121;
    text-decoration: none;
}

.link-color:link {
    color: #262121;
}

.text-next {
    font-family: 'Lato',sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.text-color {
    color: #262121;
    font-weight: 700;
}

/*Testimonial section*/

.heading-testimonial {
    background-color: #fceedb;
    padding: 1px 0;
}

.review-image {
    border-radius: 10%;
}

.image-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-box span {
    margin-left: 10px;
}

.image-box img {
    width: 40px;
    height: 40px;
}

.review-container {
    padding: 10px;
    margin: 2rem;
    border-radius: 10px;
    background-color: #fbd9b6;
    border: 2px solid #f2800a;
    cursor: default;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    padding: 0;
    display: flex;
    list-style: none;
}

.li-star {
    margin: 0px;
}

/*Service page*/
/*Service description*/

.image-next-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.service-p {
    padding: 0 1rem;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    color: #262121;
    margin: 0 15px;
}

.service-img {
    border: 10px solid #f2800a;
    border-radius: 20px;
    width: 100%;
}

/*Price section*/

#price {
    background-color: #e9e9e9;
}

.card {
    --bs-card-spacer-x: 0;
    box-shadow: 4px 4px 6px #262121;
    padding: 0;
}
.card-body {
    width: 100%;
    text-align: center;
    padding-top: 0;
}

 .card-title {
    background-color: #fce6ce;
    margin: 0;
    padding: 15px;
 }

 .card-text {
    font-size: 18px;
    line-height: 2;
 }

 .card-header {
    background-color: #e9e9e9;
 }


/*Footer*/

footer {
    width: 100%;
    background-color: #e9e9e9;
    border: 1px solid #262121;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-link {
    text-align: center;
    padding: 15px;

}

.logo-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #262121;
    font-weight: 600;
}

.social-media-links {
    padding: 15px;
    color: #262121;
    margin: 15px;
}

.contact-div {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon {
    display: flex;
    align-items: center;
    margin: 5px;
}

.quick-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-heading {
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
}

.footer-p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #262121;
    padding: 2px 2px 2px 15px;
}

.footer-p a:link {
    color: #262121;
}

.footer-p a:hover {
    color: #f2800a;
}

.footer-p a:active {
    color: #262121;
}

.footer-p a:visited {
    color: #5d5959;
}

/*Media Queries*/

@media screen and (max-width:320px) {
    .text {
        font-size: 17px;
        font-weight: 500;
    }

    #cover-text {
        top: 0px;
        left: 20px;
    }
}

/*Mobile device*/
@media screen and (min-width: 321px) {
    .text {
        font-size: 20px;
        font-weight: 500;
    }

    #cover-text {
        top: 0px;
        left: 20px;
    }

}

@media screen and (min-width: 575px) {
    .heading {
        font-size: 2em;
    }

    .text {
        font-size: 20px;
    }

    #cover-text {
        left: 70px;
    }

    .main-title {
        font-size: 2.5em;
        font-weight: 500;
    }

    .main-title-service {
        font-size: 55px;
    }

    .button {
        font-size: 12px;
    }

    li {
        margin: 5px;
    }

    .li-star{
        margin: 2px;
    }
}

@media screen and (max-width: 766px){
    .logo-brand {
        margin-top:0;
    }   
}

/*Tablet*/
@media screen and (min-width: 767px) {
    .heading {
        font-size: 2.5em;
    }

    #logo {
        font-size: 35px;
    }

    #cover-text {
        left: 60px;
    }

    .main-title {
        font-size: 3.5em;
    }

    .main-title-service {
        font-size: 65px;
    }

    .button {
        font-size: 16px;
        padding: 6px;
    }

    div#icons {
        flex-direction: row;
    }

    .text-over-image {
        font-size: 22px;
    }

    .logo-brand {
        margin-top: 30%;
    }

    .contact-div {
        margin-top: 25px;
    }

    .quick-div {
        margin-top: 33px;
    }

    .logo-link{
        padding: 0;
    }

    .card {
        width: 48%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 990px) {
    .right {
        display: flex;
        flex-direction: column-reverse;
    }

    .left {
        display: flex;
        flex-direction: column-reverse;
    }
}

/*Laptop*/
@media screen and (min-width: 991px){
    #logo {
        font-size: 40px;
    }

    #cover-text {
        left: 100px;
    }

    .main-title {
        font-size: 5em;
    }

    .main-title-service {
        font-size: 75px;
    }

    .button {
        margin:0 15px;
        padding: 5px;
        font-size: 20px;
        border:2px solid #f2800a;
    }
    
    .center {
        width: 900px;
        margin: auto;
    }

    div#icons {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .text-over-image {
        font-size: 26px;
    }

    .left {
        display: flex;
        flex-direction: row;
    }

    .right {
        display: flex;  
        flex-direction: row-reverse;
    }

}

@media screen and (min-width:1199px) {
    #cover-text {
        left: 130px;
    }

    .main-title {
        font-size: 6em;
        font-weight: 500;
    }

    .main-title-service {
        font-size: 100px;
    }

    .card {
        width: 24%;
    }

}

@media screen and (min-width:1399px) {
    #cover-text {
        top: 50px;
        left: 170px;
    }

    .main-title-service {
        font-size: 130px;
    }
}

@media screen and (min-width:1920px) {
    body, nav {
        max-width: 1400px;
        margin: 0 auto;
        border: 1px solid #262121;
    }

    html{
        background-color: #ffffff;
    }
}