*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #262121;
    background-color: #f7b36c;
    font-size: 100%;
    overflow-x: hidden;
}

/*Styling the logo and navigation links*/

/*logo image*/
#logo{
    float:left;
    margin-top:5px;
    margin-left:25px;
    margin-bottom: 5px;
    width:70px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #262121;
    font-weight: 600;
}

/*navigation links*/

header {
    position: relative;  
    z-index: 50;       
}

#menu a {
    padding-right: 25px;
}

#menu{
    font-size: 125%;
    font-weight: 500;
    letter-spacing: 1px;
    float: right;
    margin-top: 15px;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: #262121;
}

#menu a:hover {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    cursor:grab;
}

/*Styling hero section*/

#hero-outer{
    position: relative;
}

#hero{
    width: 100%;
}

/*Styling the text on hero image section*/
#cover-text{
    text-align: left;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-40%, -50%);
    padding-left: 15px;
    padding-right: 200px;
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 2px;
}

h2{
    font-family: 'Roboto', sans-serif;
    padding: 3px;
}

ul{
    list-style-type: none;
}

/*Styling buttons*/
.button{
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background-color: #beb5d2;
    padding: 8px;
    border:1px solid #262121;
    border-radius: 10px;
}

.button:hover{
    background-color: #f2800a;
    transition: 0.7s;
    cursor: pointer;
}

h2~ul {
    padding-top: 40px;
}

/*About section*/

.heading{
    font-family: 'Roboto',sans-serif;
    font-size: 2em;
    color: #262121;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 15px 0;
}

.text{
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    color: #262121;
    padding-left: 200px;
    padding-right: 200px;
    margin: 15px 0;
}

#icons{
    width:100%;
    padding: 0px 150px;
}

.icontext{
    text-align: center;
    float: left;
    padding: 20px;
    margin: 25px;
}

.text-under{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.text-next{
    font-family: 'Lato',sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

 /*Team images style*/
/*Code is contributed from w3school image hover fade in a box-amended for my use*/ 
.heading-meet {
    margin-top: 200px;
}

.image-team {
    width: 75%;
    height: auto;
    border: 2px solid #262121;
    border-radius: 50%;
    padding: 30px;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.container-image{
    position: relative;
    width:50%;

}

.middle{
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.container-image:hover .image-team{
    opacity: 0.3;
}

.container-image:hover .middle{
    opacity: 1;
}

/*.text-team{
    padding-right: 40px;
}*/

.text-over-image{
    background-color: #beb5d2;
    color:#262121;
    font-size: 16px;
    padding:3px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
}

.container-div-image{
    display: flex;
    margin: 0 15px;
    padding-left: 30px;
}

/*our service icons links*/

.heading-service{
    margin-top: 50px;
    margin-bottom: 400px;
}

.link-icons{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    background-color: #beb5d2;
    padding: 50px;
    border: 1px solid #262121;
    border-radius: 10px;
    width: 150px;
    height: 10px;
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-left: 70px;
}

.link-icons:hover {
    color: #262121;
    background-color: #f2800a;
    transition: 0.5s;
    cursor: pointer;
}

.link-color:visited{
    color: #262121;
}

.link-color:link{
    color: #262121;
}

.link-icons .span{
    margin-left: 10px;
}

/*-testimonial section*/
.heading-testimonial{
    background-color: #f7b36c;
}

.main-container{
    width: 100%;
    color: #262121;
    display: flex;
    justify-content: center;
}

.review-image{
    border-radius: 20%;
}

.clientImage {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage span {
    margin-left: 10px;
}

.clientImage img {
    width: 40px;
}


.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    padding: 10px;
    margin: 2rem;
    border-radius: 10px;
    background-color: #f7d4a6;
    border: 1px solid #10102a;
    cursor: default;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

article p {
    font-family:'Lato', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
}

/*footer*/

img {
    height: auto;
    width: 100%;
}

hr {
    margin: auto;
    width: 15%;
    border: 1px solid #262121;
}

footer{
    border-top: 1px solid #262121;
}
.logo-link{
    float: left;
    width: 25%;
    background-color: #beb5d2;
    height: 250px;
}

.logo-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #262121;
    font-weight: 600;
    margin: 60px 120px;
}

.social-media-links{
    margin-left: 86px;
    margin-bottom: 15px;
    color: #262121;
}

.contact-div {
    float:left;
    width:50%;
    background-color: #beb5d2;
    height: 250px;
    display: grid;
    align-content: stretch;
    justify-content: center;
}

.quick-div{
    float: right;
    width: 25%;
    background-color: #beb5d2;
    height: 250px;
}

.contact-div,.quick-div{
    line-height: 25px;
}

.footer-heading{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    margin: 25px 10px;
}

.footer-span {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #262121;
    display: grid;
    align-items: center;
    align-content: stretch;
    justify-content: start;
}

.footer-p a:hover{
    color: #262121;
}

.footer-p a:visited{
    color: #262121;
}

.footer-p a:active{
    color: #262121;
}

.footer-p a:link{
    color: #262121;
}

footer a {
    text-decoration: none;
}

.quick-div .footer-span{
    align-content: center;
}

.footer-p{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #262121;
    padding: 4px;
    margin-left: 10px;
}

.footer-icon i{
    margin: 8px;
}

/*service page*/

.container-service {
    position: relative;
    text-align: center;
    color: black;
    font-size: 62px;
}

/*centered text*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tools {
    width: 100%;
}